:root {
    --background-color1: #1A1A1A;
    --background-color2: #2E2E2E;

    --accent-color: #56bbc9;
    --hover-color: #31d3eb;
}

html, body {
    margin: 0;
    font-family: "Courier New", serif;
    background-color: var(--background-color1);
    color: white;
}

header {
    padding: 1.5rem;
    border-bottom: var(--accent-color) 0.1rem solid;
    background-color: var(--background-color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.light-dark-button {
    width: 2.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: var(--background-color2);
}

ul {
    list-style-type: none;
}

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.menu ul a {
    margin: 2rem;
    font-size: 1.2rem;
    color: var(--accent-color);
    text-decoration: none;
}

.menu ul a:hover {
    color: var(--hover-color);
}

main {
    display: flex;
}

.social-media-icons ul {
    margin: 1.5rem 1.5rem;
    padding: 0;
}

.social-media-icons ul li a {
    font-size: 1.5rem;
    color: var(--accent-color);
}

.content {
    margin: 7rem 0 23rem 10rem;
    font-size: 1.5rem;
}

h1 {
    font-size: 2rem;
    color: var(--accent-color);
}

h1 a {
    text-decoration: none;
    color: var(--accent-color);
}

#website-name {
    font-size: 3rem;
}

footer p {
    text-align: center;
}